body {
  font-family: 'Open Sans', sans-serif;
}

header {
  color: rgb(173, 173, 173);
}

.fa-compass {
  font-size: 15px;
  color: rgb(173, 173, 173);
  border-radius: 5px;
  background-color: rgb(224, 224, 224);
  padding: 3px;
}

#cog-id {
  padding: 6px;
}

.fa-map-o,
.fa-bell-o,
.fa-list,
.fa-comments-o,
.fa-star-o,
.fa-cog,
.fa-line-chart,
.fa-stack-exchange,
.fa-youtube-play {
  font-size: 15px;
  color: rgb(173, 173, 173);
}

#input-area-detail {
  background-color: white;
}

#globe-icon {
  font-size: 17px;
  color: rgb(84, 3, 151);
}

.fa-user {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  color: white;
  font-size: 15px;
  background-color: rgb(173, 173, 173);
}

.fa-sliders {
  font-size: 18px;
  color: rgb(84, 3, 151);
}

.location-choice {
  color: black;
  border-bottom: 1px solid rgb(173, 173, 173);
}

.list-item--center {
  text-align: center;
}

.features-list li {
  text-transform: capitalize;
  color: rgb(148, 148, 148);
  font-weight: 700;
  font-size: 10px;
}

.features-list li p {
  font-size: 11px;
  color: black;
  font-weight: 400;
}

.fa-heart-o,
.fa-plug {
  font-size: 15px;
  color: rgb(253, 86, 86);
}

.premium-status {
  color: rgb(84, 3, 151);
}

.status {
  font-size: 10px;
  color: rgb(173, 173, 173);
}

.status-mobile {
  font-size: 13px;
  color: rgb(173, 173, 173);
}

.no-live {
  background-color: rgb(214, 214, 214);
  color: rgb(148, 148, 148);
}

.no-msg,
.no-gifts {
  background-color: rgb(255, 102, 0);
  color: white;
}

.filter > div {
  font-size: 12px;
  font-weight: 600;
}

.user-spec {
  font-size: 12px;
  font-weight: 700;
}

#cog-id {
  background-color: rgb(84, 3, 151);
  color: white;
  border-radius: 5px;
}

.fa-gift {
  font-size: 60px;
  color: rgb(84, 3, 151);
}

.times {
  font-size: 8px;
  font-weight: 700;
  color: white;
  background-color: rgb(255, 102, 0);
}

.feature-img-1,
.feature-img-3 {
  font-size: 25px;
  font-weight: 700;
  color: rgb(202, 202, 202);
  background-color: white;
}

.feature-cancel {
  background-color: rgb(255, 102, 0);
  color: white;
  font-size: 25px;
  font-weight: 700;
}

.feature-like {
  background-color: rgb(84, 3, 151);
  color: white;
}

.fa-heart,
.fa-mouse-pointer,
.fa-arrow-left {
  color: white;
  font-size: 20px;
}

.img-indicator > :first-child,
.img-indicator > :nth-child(2),
.img-indicator > :last-child {
  background-color: rgb(172, 172, 172);
}

.active-div {
  background-color: rgb(255, 102, 0);
}

.distance {
  color: white;
  font-weight: 700;
  font-size: 12px;
}

.contact-name {
  font-weight: 700;
  color: rgb(70, 70, 70);
}

.fullstop {
  font-size: 30px;
  color: rgb(1, 139, 1);
}

.tick {
  color: rgb(148, 148, 148);
}

.status-link {
  font-size: 13px;
  color: rgb(148, 148, 148);
}

.active-tick {
  color: rgb(79, 1, 143);
}

.fa-pencil-square-o,
.fa-bars {
  color: black;
  font-size: 16px;
}

#edit-pencil {
  background-color: rgb(79, 1, 143);
  color: white;
  font-size: 14px;
}

.fa-phone,
.fa-ellipsis-h {
  font-size: 14px;
  color: rgb(148, 148, 148);
}

.chat-textbox {
  color: grey;
}

.fa-arrow-up {
  color: white;
  font-size: 16px;
  background-color: rgb(79, 1, 143);
}
#chat-area {
  background-color: rgb(245, 245, 245);
}

#chat-area-detail {
  background-color: white;
}

.chat-text {
  background-color: rgb(204, 204, 204);
}

@media only screen and (min-width: 300px) and (max-width: 1024px) {
  .logo-site > h3 {
    font-weight: 700;
    font-size: 20px;
    color: grey;
  }

  .chat-mobile-container {
    background-color: rgb(238, 238, 238);
  }

  .coders-mobile-list {
    background-color: white;
  }

  .contact-mobile-name {
    font-weight: 700;
    color: rgb(70, 70, 70);
  }

  .fullstop {
    color: rgb(1, 139, 1);
  }

  .photos-mobile {
    background-color: rgb(245, 245, 245);
  }

  .tick {
    color: rgb(148, 148, 148);
  }

  .active-mobile-tick {
    color: rgb(79, 1, 143);
  }

  .img-mobile-indicator > :first-child,
  .img-mobile-indicator > :nth-child(2),
  .img-mobile-indicator > :last-child,
  .user-detail-img-indicator > :first-child,
  .user-detail-img-indicator > :nth-child(2),
  .user-detail-img-indicator > :last-child {
    background-color: rgb(172, 172, 172);
  }

  .user-detail-feature-img-1,
  .user-detail-feature-img-3,
  .feature-mobile-img-1,
  .feature-mobile-img-3 {
    font-size: 22px;
    font-weight: 700;
    color: rgb(202, 202, 202);
    background-color: white;
  }

  .user-detail-active-div {
    background-color: rgb(255, 102, 0);
  }

  .user-detail-feature-cancel {
    background-color: rgb(255, 102, 0);
    color: white;
    font-size: 22px;
    font-weight: 700;
  }

  .user-mobile-name {
    font-size: 18px;
    font-weight: 700;
    color: rgb(102, 102, 102);
  }

  #user-like {
    font-size: 20px;
  }

  .feature-mobile-cancel {
    background-color: rgb(255, 102, 0);
    color: white;
    font-size: 18px;
    font-weight: 700;
  }

  #cog-mobile-id,
  #bell-mobile-id {
    font-size: 20px;
  }

  .bottom-nav {
    background-color: white;
  }

  #globe-nav {
    color: white;
    background-color: rgb(84, 3, 151);
    font-size: 300%;
  }

  #star-nav,
  #list-nav,
  #clock-nav {
    font-size: 22px;
    color: rgb(156, 156, 156);
  }

  #stack-nav {
    font-size: 22px;
    color: rgb(247, 68, 68);
  }

  .fa-heart {
    color: white;
    font-size: 14px;
  }

  .username-mobile-name {
    background-color: white;
  }

  .username-mobile-name > p {
    font-size: 15px;
    font-weight: 500;
  }

  .user-detail-feature-like,
  .feature-mobile-like {
    background-color: rgb(84, 3, 151);
    color: white;
  }
}

@media only screen and (min-width: 1025px) {
  .logo-site > h3 {
    font-weight: 700;
    font-size: 25px;
    color: grey;
  }

  .chat-page-container {
    background-color: rgb(238, 238, 238);
  }

  .chat-details {
    background-color: white;
  }

  .coders-search {
    color: rgb(129, 129, 129);
    font-size: 10px;
    font-weight: 400;
  }

  .fa-search {
    color: rgb(194, 194, 194);
    font-size: 14px;
  }

  .chat-heading {
    font-size: 16px;
    font-weight: 700;
    color: rgb(83, 83, 83);
  }
}
