.fa-pencil-square-o {
  padding: 5px;
  border-radius: 5px;
}

.chat-textbox {
  width: 80%;
  border-radius: 5px;
  padding: 4px 8px 4px 8px;
  border: 1px solid rgb(236, 236, 236);
  height: 36px;
  margin: 0 10px 0 10px;
  background-image: url("../../img/icons8-happy.png");
  background-position: right;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

#input-area {
  text-align: center;
}

.fa-paperclip {
  font-size: 20px;
  color: rgb(212, 212, 212);
}

.fa-arrow-up {
  padding: 9px;
  border-radius: 5px;
}

@media only screen and (min-width: 1025px) {
  .chat-page-container {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-right: 20px;
  }

  .chat-details {
    width: 72%;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
  }

  .chat-conversation li {
    list-style: none;
    padding: 15px 0 15px 0;
  }

  .chat-coder-li li:not(:last-child) {
    list-style: none;
    padding: 12px 0 12px 10px;
    border-bottom: 2px solid rgb(236, 236, 236);
  }

  .coders-list,
  .contacts-tab {
    display: flex;
    justify-content: flex-start;
  }

  .coders-img {
    border-radius: 5px;
    height: 40px;
    width: 40px;
  }

  .chat-details > :first-child {
    width: 30%;
    border-right: 1px solid rgb(236, 236, 236);
  }

  .chat-details > :last-child {
    width: 70%;
    padding: 10px 0 10px 0;
    border-right: 1px solid rgb(236, 236, 236);
  }

  .coders-list > :nth-child(2) {
    width: 60%;
  }

  .coders-list > :first-child {
    width: 20%;
  }

  .coders-list > :last-child {
    width: 20%;
  }

  .contacts-tab > div {
    width: 33%;
    text-align: center;
    padding: 10px 0 10px 0;
    margin-bottom: 0 !important;
  }

  .contacts-tab > :nth-child(2) {
    border-top: 2px solid rgb(84, 3, 151);
    border-left: 2px solid rgb(236, 236, 236);
    border-right: 2px solid rgb(236, 236, 236);
    background-color: rgb(245, 245, 245);
  }

  .coders-list > div {
    margin-right: 10px;
  }

  .coders-search {
    border: none;
    padding: 10px 8px;
    width: 75%;
  }

  .section-chat {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(236, 236, 236);
    padding: 13px 15px 13px 15px;
  }

  .chat-conversation {
    padding: 25px 15px 10px 10px;
  }

  .chat-right {
    display: flex;
    justify-content: flex-end;
  }

  .chat-left {
    display: flex;
    justify-content: flex-start;
  }

  .chat-text-container {
    width: 60%;
  }

  .chat-text {
    border-radius: 5px;
    padding: 8px 8px;
  }

  .chat-img {
    width: 10%;
  }

  .chat-img > img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: -13px;
    margin-left: 15px;
  }

  .chat-text-container-right {
    text-align: right;
    margin-left: 15px;
  }

  .chat-text-container-left {
    text-align: left;
    margin-left: 15px;
  }
}
