.fa-pencil-square-o {
  padding: 5px;
  border-radius: 5px;
}

.chat-textbox {
  width: 80%;
  border-radius: 5px;
  padding: 4px 8px 4px 8px;
  border: 1px solid rgb(236, 236, 236);
  height: 36px;
  margin: 0 10px 0 10px;
  background-image: url("../../img/icons8-happy.png");
  background-position: right;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

#input-area,
#input-area-detail {
  text-align: center;
}

.fa-paperclip {
  font-size: 20px;
  color: rgb(212, 212, 212);
}

.fa-arrow-up {
  padding: 9px;
  border-radius: 5px;
}

.chat-conversation {
  padding: 25px 15px 10px 10px;
}

.chat-conversation li {
  list-style: none;
  padding: 15px 0 15px 0;
}

.chat-text-container-left .status {
  float: right;
}

@media only screen and (min-width: 300px) and (max-width: 1024px) {
  .features {
    display: none;
  }

  .chat-details {
    display: none;
  }

  .chat-threads {
    padding: 0 10px 0 10px;
  }

  .chat-mobile-container {
    padding: 10px 0 10px 0;
  }

  .coders-mobile-list {
    display: flex;
    justify-content: flex-start;
    padding: 8px;
    border-radius: 5px;
    margin-top: 15px;
  }

  .coders-mobile-list > :first-child {
    width: 12%;
  }

  .coders-mobile-list > :last-child {
    width: 80%;
  }

  .coders-mobile-list > div {
    margin-right: 3%;
  }

  .coders-mobile-img {
    border-radius: 5px;
    height: 100%;
    width: 100%;
  }

  .bottom-nav {
    padding: 2px 0 2px 0;
    position: relative;
    margin-top: -3% !important;
  }

  .chat-nav li:not(:nth-child(3)) {
    text-align: center;
    list-style: none;
    display: inline-block;
    width: 18%;
  }

  .chat-nav li:nth-child(3) {
    text-align: center;
    list-style: none;
    display: inline-block;
    width: 20%;
    margin-top: -3% !important;
    padding-bottom: 10px;
    border-bottom: 3px solid rgb(231, 231, 231);
  }

  #globe-nav {
    padding: 6px;
    border-radius: 5px;
    border: none;
  }
}

@media only screen and (min-width: 1025px) {
  .chat-page-container {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-right: 20px;
  }

  .chat-mobile-container {
    display: none;
  }

  .chat-details {
    width: 72%;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
  }

  .chat-coder-li li:not(:last-child) {
    list-style: none;
    padding: 12px 0 12px 10px;
    border-bottom: 2px solid rgb(236, 236, 236);
  }

  .coders-list,
  .contacts-tab {
    display: flex;
    justify-content: flex-start;
  }

  .coders-img {
    border-radius: 5px;
    height: 40px;
    width: 40px;
  }

  .chat-details > :first-child {
    width: 30%;
    border-right: 1px solid rgb(236, 236, 236);
  }

  .chat-details > :last-child {
    width: 70%;
    padding: 10px 0 10px 0;
    border-right: 1px solid rgb(236, 236, 236);
  }

  .coders-list > :nth-child(2) {
    width: 60%;
  }

  .coders-list > :first-child {
    width: 20%;
  }

  .coders-list > :last-child {
    width: 20%;
  }

  .contacts-tab > div {
    width: 33%;
    text-align: center;
    padding: 10px 0 10px 0;
    margin-bottom: 0 !important;
  }

  .contacts-tab > :nth-child(2) {
    border-top: 2px solid rgb(84, 3, 151);
    border-left: 2px solid rgb(236, 236, 236);
    border-right: 2px solid rgb(236, 236, 236);
    background-color: rgb(245, 245, 245);
  }

  .coders-list > div {
    margin-right: 10px;
  }

  .coders-search {
    border: none;
    padding: 10px 8px;
    width: 75%;
  }

  .section-chat {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(236, 236, 236);
    padding: 13px 15px 13px 15px;
  }

  .chat-right {
    display: flex;
    justify-content: flex-end;
  }

  .chat-left {
    display: flex;
    justify-content: flex-start;
  }

  .chat-text-container {
    width: 60%;
  }

  .chat-text {
    border-radius: 5px;
    padding: 8px 8px;
  }

  .chat-img {
    width: 10%;
  }

  .chat-img > img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: -13px;
    margin-left: 15px;
  }

  .chat-text-container-right {
    text-align: right;
    margin-left: 15px;
  }

  .chat-text-container-left {
    text-align: left;
    margin-left: 15px;
  }
}
