.main-container {
  background-color: rgb(240, 240, 240);
  height: 85%;
  display: flex;
  justify-content: space-evenly;
  margin: 15px 30px 10px 30px;
  padding: 10px 0 10px 0;
}

.features,
.user-details {
  width: 25%;
  height: inherit;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  margin-right: 20px;
}

.features > :first-child,
.user-details > :first-child {
  background-color: white;
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgb(226, 226, 226);
}

.features > :nth-child(2) {
  margin-top: 20px;
}

.fl {
  padding-left: 10px;
}

.features-list li {
  list-style: none;
  margin-top: 20px;
  display: flex;
  padding-bottom: 10px;
}

.list-notify {
  display: flex;
}

.list-notify > :first-child {
  width: calc(70% + 0.05vw);
  text-align: right;
}

#span-live-id {
  margin-left: calc(300% + 0.05vw);
}

#span-msg-id {
  margin-left: calc(370% + 0.05vw);
}

#span-gift-id {
  margin-left: calc(460% + 0.05vw);
}

.filter > :last-child .fa-sliders {
  text-align: right;
}

.user-distance {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.user-distance > :first-child {
  margin: 0 10px 0 10px;
  flex-grow: 10;
}

.user-mobile-detail > :last-child {
  padding: 10px 0 10px 0;
  text-align: center;
}

.user-detail-link > :last-child {
  padding-top: 5%;
}

.features-list li > :first-child {
  text-align: right;
  width: 30px;
}

.communicate {
  display: flex;
}

.communicate > div {
  margin-left: 20px;
}

.features div ul li {
  display: flex;
  align-items: center;
}

.recommended {
  position: relative;
  top: -5px;
  margin-right: 10px;
}

.recommended-coder {
  height: 35px;
  width: 35px;
  border-radius: 5px;
}

.crown-coder {
  height: 45px;
  width: 45px;
  border-radius: 5px;
}

#gift {
  margin: 5px 10px 0 30px;
}

.no-live {
  padding: 3px 8px 3px 8px;
  border-radius: 35%;
}

.no-msg,
.no-gifts {
  padding: 3px 8px 3px 8px;
  border-radius: 5px;
  text-align: end;
}

.filter {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  background-color: white;
  padding: 15px 10px 15px 10px;
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgb(226, 226, 226);
}

.user-detail-link {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 0 10px 10px 10px;
  border-bottom: 2px solid rgb(224, 224, 224);
  border-radius: 5px;
}

.user-main-details {
  margin-top: 10px;
}

.user-main-details-li {
  list-style: none;
}

.user-line {
  border: 1px solid rgb(235, 235, 235);
}

.fa-gift {
  margin-top: -5px;
}

.times {
  border-radius: 50%;
  height: 16px;
  width: 16px;
  margin: 10px 0 0 -20px;
  padding: 2px 0 0 5.5px;
}

.name,
.user-main-details-li,
.user-interests,
.user-languages,
.user-btn {
  padding: 6px 10px 6px 10px;
}

.user-btn {
  text-align: center;
}

.feature-img-2 {
  display: flex;
  justify-content: space-between;
}

.feature-cancel {
  margin-right: 20px;
  padding-left: 10px;
}

.feature-like {
  margin-left: 20px;
  padding: 8px 0 0 10px;
}

.img-indicator {
  flex-grow: 1;
}

.img-indicator > div {
  list-style: none;
  height: 15px;
  width: 15px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.fa-mouse-pointer {
  transform: rotateY(-180deg);
}

.distance {
  margin-left: 10px;
}

@media only screen and (min-width: 300px) and (max-width: 1024px) {
  .main-container {
    display: none;
  }

  .main-container-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .photos-mobile {
    height: inherit;
  }

  .photo-mobile-row {
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
  }

  .photo-mobile-row > img,
  .photo-mobile-row > div {
    border-radius: 5px;
    width: 10%;
  }

  .photo-mobile-main {
    margin: 10px 10px 10px 10px;
    height: 380px;
    border-radius: 8px;
    background-image: url("../../img/main-dev.jpeg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .img-mobile-indicator {
    flex-grow: 1;
  }

  .img-mobile-indicator > div {
    list-style: none;
    height: 15px;
    width: 15px;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  .user-mobile-detail {
    width: 80%;
    margin-left: 10%;
    position: absolute;
    top: -50px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 4px 4px 4px rgb(226, 226, 226);
  }

  #main-bottom-nav {
    margin-top: 25% !important;
  }

  .details-page-link {
    text-decoration: none;
  }

  .details-page-link:hover {
    text-decoration: none;
  }

  .feature-mobile-photo {
    display: flex;
    justify-content: space-between;
    padding: 0 15px 0 15px;
    position: relative;
    top: 350px;
  }

  .feature-mobile-img-1,
  .feature-mobile-img-3 {
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 5px;
  }

  .feature-mobile-img-2 {
    display: flex;
    justify-content: space-between;
  }

  .feature-mobile-cancel {
    margin-right: 15px;
    padding-left: 7.5px;
  }

  .feature-mobile-like {
    margin-left: 15px;
    padding: 5px 0 0 8px;
  }

  .feature-mobile-cancel,
  .feature-mobile-like {
    height: 30px;
    width: 30px;
    border-radius: 5px;
  }

  .times {
    border-radius: 50%;
    height: 15px;
    width: 15px;
    margin: 5.5px 0 0 5px;
    padding: 1px 0 0 4.5px;
  }

  .user-mobile-nav {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

@media only screen and (min-width: 1025px) {
  .main-mobile-container {
    display: none;
  }

  .photos {
    width: 50%;
    height: inherit;
  }

  .photo-row {
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
  }

  .photo-row > img,
  .photo-row > div {
    border-radius: 5px;
    width: 10%;
  }

  .photo-main {
    margin: 10px 10px 10px 10px;
    height: 550px;
    border-radius: 5px;
    background-image: url("../../img/main-dev.jpeg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .feature-photo {
    display: flex;
    justify-content: space-between;
    padding: 0 15px 0 15px;
    position: relative;
    top: 400px;
  }

  .feature-img-1,
  .feature-img-3 {
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 5px;
  }

  .feature-cancel,
  .feature-like {
    height: 40px;
    width: 40px;
    border-radius: 5px;
  }
}
